html {
    font-size: 16px;
    font-family: 'Josefin Slab', Tahoma,  serif;
}

h1 {
    font-size: 5.1875rem;
}

h2 {
    font-size: 4.1875rem;
}

h3 {
    font-size: 3.125rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.3125rem;
}

h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 1rem;
}

p {
    font-family: $base-font-family;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    line-height: 2.25rem;
}

.address {
    background-image: url('/images/Rackers Volunteer Week, Nov 14, raising scaffold 1.JPG');
    background-size: 200px;
    background-repeat: no-repeat;
    margin-left: 3rem;
    padding-left: 232px;
}
