html {
    font-size: 16px;
    font-family: 'Josefin Slab', Tahoma,  serif;
}

h1 {
    font-size: 9.125rem;
}

h2 {
    font-size: 6.9375rem;
}

h3 {
    font-size: 5.1875rem;
}

h4 {
    font-size: 1rem;
}
