footer {
    background-color: rgb(25, 197, 135);
    height: 2rem;
    line-height: 2rem;

    .footer-content {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 960px) {
    .footer-content {
        font-size: 0.75rem
    }
}
