.site-title {
    font-size: 5.1875rem;
    color: white;
}

.site-fop {

}

.site-city {

}

.site-heading {
    font-family: 'Josefin Slab', serif;
    height: 200px;
    width: 100%;
    background-image: url('/images/main-section.jpg');
    background-size: cover;
}
