.news-tile {

    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background-color: rgb(25, 197, 135);
    width: 100%;
    padding: 16px 0 0 196px;
    height: 180px;

    h1 {
        font-size: 3.1875rem;
        margin-bottom: 1rem;
    }

    time {
        margin-bottom: 0.5rem;
    }

    img {
        box-sizing: border-box;
        position: absolute;
        top:0;
        left:0;
        background-image: url('/images/main-section.jpg');
    }

    &:after {
        font-size: 2rem;
        content:"\2026";
        display:inline-block;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.news-list {
    li {
        margin-bottom: 2rem;
    }
}
