.news-tile {

    background-color: rgb(25, 197, 135);
    color: white;
    display: inline-block;
    height: 180px;
    padding: 16px 0 0 196px;
    position: relative;
    text-decoration: none;
    width: 100%;

    h1 {
        font-size: 3.1875rem;
        margin-bottom: 1rem;
    }

    time {
        margin-bottom: 0.5rem;
    }

    img {
        background-image: url('/images/main-section.jpg');
        box-sizing: border-box;
        height: 180px;
        left:0;
        position: absolute;
        top:0;
        width: 180px;
    }

    &:after {
        bottom: 10px;
        content:"\2026";
        display:inline-block;
        font-size: 2rem;
        position: absolute;
        right: 10px;
    }

    p {
        font-family: $base-font-family;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }
}

.news-list {
    li {
        margin-bottom: 2rem;
    }
}
